%font-bebas-neue {
    font-family: Bebas Neue;
    font-weight: 400;
}

%font-poppins {
    font-family: Poppins;
    font-weight: 400;
    font-size: 19px;
}

%font-work-sans {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

.top {
    background: linear-gradient(180deg, #030303 15%,rgba(3,3,3,0.4) 100%), url("img/contato3.jpeg");
    background-size: 100%;
    width: 100%;
    height: 441px;
    display: flex;
    align-items: flex-end;

    &-title {
        padding: 7rem 9rem;
    }

    h1 {
        color: #fff;
        @extend %font-bebas-neue;
        font-size: 70px;
        padding-top: 1.5rem;
        padding-bottom: 0rem;
    }

    h3 {
        @extend %font-work-sans;
        color: #fff;
        padding-top: 1rem;
    }
}

.content {
    &-container {
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 6rem 8rem;
        column-gap: 3rem;
        &-left {
            display: grid;
            grid-template-rows: 89% 1rem;
            margin: 0;
            &-image {
                background-image: url("img/about-rio.jpeg");
                background-size: 100%;
                height: auto;
                height: 100%;
                background-repeat: no-repeat;
                padding-bottom: 0;
            }

            &-image:hover {
                box-shadow: 1px 1px 10px grey; //, -1px -1px 10px grey;
                transform: scale(1.02);
                transition-timing-function: ease;
            }
        }
        &-text {
            padding: 1rem 9rem 0 5rem;
            & p {
                @extend %font-poppins;
                text-align: justify;
                padding-bottom: 2rem;
            }

            & h3 {
                @extend %font-bebas-neue;
                font-size: 40px;
                text-align: justify;
                padding-bottom: 2rem;
            }

        }
    }

}


.takeout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;

    & a {
        text-decoration: none;
    }

    &-img {
        padding: 0;
        margin: 0;
        width: 582px;
        height: 354px;
        background-image: url("img/Rio-Brazilian-Steakhouse-13.jpeg");
        background-size: 100%;
    }

    &-content {
        padding: 0;
        margin: 0;
        padding-left: 5rem;
        text-align: left;
        width: 30rem;
        height: 354px;
        background-color: #000;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
        position: relative;
        
        & h3 {
            @extend %font-work-sans;
            color: #D6D6D6;
            font-size: 14px;
        }

        & h1 {
            @extend %font-bebas-neue;
            font-size: 50px;
            color: #fff;
        }

        &-btn {
            border-color: #fff;
            border-style: solid;
            background-color: #000;
            color: #fff;
            @extend %font-work-sans;
            padding: 1rem 2rem 1rem 0rem;

            & li {
                display: list-item;
                list-style-image: url("img/car.png");
                padding-inline-start: 1ch;
            }
            
        }
    }

    &-content:hover {
        //background-color: #353535;
    
        /*box-shadow: os balores sao, nesta ordem, shadow top, shadow right (para valores positivos).
        Caso queira colocar shadow na esquerda e bottom, colocar valores negativos. O terceiro valor é
        para definir o quanto de blur voce quer, e o ultimo valor é para definir o spread*/
        box-shadow: 1px 1px 10px grey; //, -1px -1px 10px grey;
        /*transform transforma o tamanho da imagem como um todo, ou seja, aumenta ou diminui.
        Por padrao, a imagem ja vem com um valor de 1 no transform*/
        transform: scale(1.02);
    }
}

