%font-bebas-neue {
    font-family: Bebas Neue;
    font-weight: 400;
}

%font-poppins {
    font-family: Poppins;
    font-weight: 400;
    font-size: 19px;
}

%font-work-sans {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

.top {
    background: linear-gradient(180deg, #030303 15%,rgba(3,3,3,0.4) 100%), url("img/contato3.jpeg");
    background-size: 100%;
    width: 100%;
    height: 441px;
    display: flex;
    align-items: flex-end;

    &-title {
        padding: 7rem 9rem;
    }

    h1 {
        color: #fff;
        @extend %font-bebas-neue;
        font-size: 70px;
        padding-top: 1.5rem;
        padding-bottom: 0rem;
    }

    h3 {
        @extend %font-work-sans;
        color: #fff;
        padding-top: 1rem;
    }
}

.contact-container {
     width: 100%;
    padding-top: 6rem;
    margin: 0;
    display: grid;
    grid-template-columns: 40% 60%;

    &-left {
        margin-left: 8.4rem;
         width: 75%;
        &-img-photo {
            max-width: 100%;
        }

        & p {
            font-size: 19px;
            @extend %font-poppins;
            margin: 1rem 0;
        }

        & #bold {
            @extend %font-bebas-neue;
            font-size: 31px;
            margin: 2rem 0 0 0;
        }

        & ul {
            padding: 1rem;
        }
        
        & li {
            display: list-item;
            list-style-image: url("img/building.png");
            padding-inline-start: 1ch;
        }

        &-social {
            display: grid;
            grid-template-columns: repeat(2, 3.5rem);

            &-link {
                padding: 1rem 1rem 1rem 1rem;
                background-color: #000;
                border-radius: 50%;
                width: 1rem;
            }

            &-link:hover {
                background-color: #353535;
            }

            & img {
                height: 1em;
            }
        }
    }

    &-form {
        padding-left: 0;
        margin-top: 1rem;
        margin-left: 3rem;
        width: 40rem;
        // height: 60rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-name {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            &-label {
                display: grid;
                grid-template-columns: 7rem 1rem;
            }
        }

        & p {
            @extend %font-poppins;
        }

        & #dot {
            text-decoration: underline dotted;
        }

        & input, textarea {
            background-color: #F2F2F2;
            border-color: #d2d2d2;
            border-style:solid;
            border-radius: 5px;
            @extend %font-poppins;
            height: 50px;
            padding-left: 1rem;
        }

        & textarea {
            height: 6rem;
        }

        & input:focus, textarea:focus {
            outline: none;
        }

        & input:hover, textarea:hover {
            border-color: #e0e0e0;
        }

        &-send {
            @extend %font-work-sans;
            background-color: #FFFFFF;
            padding: 1rem 2rem;
            border: #d2d2d2 solid 1px ;
           
        }

        &-send:hover {
            border-color: #000;
        }
    }
}

.takeout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;

    & a {
        text-decoration: none;
    }

    &-img {
        padding: 0;
        margin: 0;
        width: 582px;
        height: 354px;
        background-image: url("img/Rio-Brazilian-Steakhouse-13.jpeg");
        background-size: 100%;
    }

    &-content {
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
        padding-left: 5rem;
        text-align: left;
        width: 30rem;
        height: 354px;
        background-color: #000;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2rem;
        position: relative;
        
        & h3 {
            @extend %font-work-sans;
            color: #D6D6D6;
            font-size: 14px;
        }

        & h1 {
            @extend %font-bebas-neue;
            font-size: 50px;
            color: #fff;
        }

        &-btn {
            border-color: #fff;
            border-style: solid;
            background-color: #000;
            color: #fff;
            @extend %font-work-sans;
            padding: 1rem 2rem 1rem 2rem;

            & li {
                display: list-item;
                list-style-image: url("img/car.png");
                padding-inline-start: 1ch;
            }
            
        }
    }

    &-content:hover {
        //background-color: #353535;
    
        /*box-shadow: os balores sao, nesta ordem, shadow top, shadow right (para valores positivos).
        Caso queira colocar shadow na esquerda e bottom, colocar valores negativos. O terceiro valor é
        para definir o quanto de blur voce quer, e o ultimo valor é para definir o spread*/
        box-shadow: 1px 1px 10px grey; //, -1px -1px 10px grey;
        /*transform transforma o tamanho da imagem como um todo, ou seja, aumenta ou diminui.
        Por padrao, a imagem ja vem com um valor de 1 no transform*/
        transform: scale(1.02);
    }
}

