@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

%font-bebas-neue {
    font-family: Bebas Neue;
    font-weight: 400;
}

%font-poppins {
    font-family: Poppins;
    font-weight: 400;
    font-size: 19px;
}

%font-work-sans {
    font-family: Work Sans;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
  }

//////////////
.header-container {
    background-color: #191919;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 12.5rem;
    height: 100px;
    &-logo {
        padding: 0.6rem 8.9rem;
    }

    &-link {
        padding-left: 1.5rem;
        padding-top: 1rem;
        text-decoration: none;
        color: #fff;
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        transition: 0.3s;
    }

    &-link:hover, &-highlight {
        color: #4C903D;
    }

    
}

.socialmedia {
    position: fixed;
    bottom: 3rem;
    right: 5rem;
    display:flex;
    flex-direction:row;
    column-gap: 0.3rem;

    &-facebook {
        // position: fixed;
        background-image: url("img/facebook-logo-sqare.png");
        background-size: 100%;
        width: 1.5rem;
        height: 1.5rem;
    }

    &-instagram {
        // position: fixed;
        background-image: url("img/instagram-logo-square.png");
        background-size: 100%;
        width: 1.5rem;
        height: 1.5rem;
    }

    &-youtube {
        // position: fixed;
        background-image: url("img/youtube-logo-square.png");
        background-size: 100%;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.to-top {
    position: fixed;
    bottom: 0;
    right: 5rem;
    display:flex;
    flex-direction:row;
    column-gap: 0.3rem;
    background-color: #2E2E2E;
    padding: 0.5rem 0.8rem 0 0.8rem;

    & a {
        color: #fff;
        text-decoration: none;
        font-size: 18pt;
    }


}
/////////////////////

// .footer {
//     background-color: #191919;
//     bottom: 0;
//     padding-bottom: 0;
//     margin-bottom: 0;

//     &-container {
//         background-image: url("img/rodape-rio-34.jpeg");
//         background-size: 100%;
//         background-repeat: no-repeat;
//         background-position: center;

//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//         padding: 3rem 8rem 3rem 8rem;

//         &-left {
//             & img {
//                 padding-bottom: 1rem;
//                 border-bottom: 1px solid #2C2829;
//             }

//             &-social {
//                 padding: 1rem;
//                 & a, :visited, hover {
//                     padding: 0.5rem;
//                     color: #fff;
//                     font-size: 15pt;
//                 }

//             }
//         }

//         &-middle, &-right {
//             @extend %font-poppins;
//             color: #fff;

//             & h3 {
//                  font-size: 18px;
//                  padding: 1rem 0;
                 
//              }

//              & p {
//                  font-size: 14px;
//                  padding: 0.5rem 1.5rem;
//              }
           

            
//         }
//     }

//     &-developed p {
//         color: #fff;
//         @extend %font-poppins;
//         font-size: 12px;
//         text-align: center;
//         padding: 0.5rem;

//         background-color: #000;
//     }
// }

.botton{
    background: linear-gradient(180deg, #030303 15%,rgba(3,3,3,0.4) 100%), url("img/contato3.jpeg");
    background-size: 100%;
    width: 100%;
    height: 241px;
}
.locations{
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
}
.container-logo-bottom{
    padding-left: 40px;
    padding-top: 50px;
}
.social-media{
    border-top: #fff 0.5px solid;
    padding-left: 60px;
}
  .fa {
    padding-top: 10px;
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
  }
  .locations-vancouver{
    font-family: Poppins;
    padding-top: 50px;
    width: 20%;
    align-items: center;
    font-size: 15px;
}
.locations-coquitlam{
    font-family: Poppins;
    padding-top: 50px;
    width: 20%;
    align-items: center;
    font-size: 15px;
}
.fa-map-marker{
    padding-right: 20px;
    font-size: 25px;
}
.fa-phone{
    padding-right: 20px;
    font-size: 25px;
}
.locations-container{
    padding-top: 15px;
    display: flex ;
}